<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vastio.basic.dao.LogCoreMapper">
    <select id="selectLogResponses" resultType="com.vastio.basic.entity.response.LogResponse">
        SELECT
        d.*,
        a.full_name,
        a.org_id,
        b.name AS p_name,
        c.name AS b_name
        FROM BASE_LOG d
        LEFT JOIN BASE_USER a ON d.user_id = a.username
        LEFT JOIN BASE_ORG b
        ON a.org_id = b.code
        LEFT JOIN BASE_ORG c
        ON b.parent_id = c.id
        WHERE 1=1
        <if test="orgId != null">
            AND (a.org_id = #{orgId} OR c.code = #{orgId})
        </if>
        <if test="method == 'login'">
            AND d.method = #{method}
        </if>
        <if test="method == 'optional'">
            AND d.method != 'login'
        </if>
        <if test="optionalResult != null">
            AND d.optional_result = #{optionalResult}
        </if>
        <if test="startTime != null">
            AND d.optional_time &gt;= #{startTime}
        </if>
        <if test="endTime !=null">
            AND d.optional_time &lt;= #{endTime}
        </if>
    </select>
</mapper>