<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vastio.basic.dao.PermissionCoreMapper">
    <select id="selectPermissionByUser" resultType="com.vastio.basic.common.model.Permission">
        SELECT a.*
        FROM BASE_PERMISSION a
            JOIN BASE_ROLE_PERMISSION b ON a.ID = b.PERMISSION_ID
            JOIN BASE_USER_ROLE c ON b.ROLE_ID = c.ROLE_ID
            JOIN BASE_USER d ON c.USER_ID = d.ID
        WHERE d.USERNAME = #{username}
    </select>
</mapper>